<phpunit bootstrap="./application/bootstrap.php">
    <testsuite name="Application Test Suite">
        <directory>./application</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../library/Zend</directory>
        </whitelist>
    </filter>
</phpunit>
